@import "compass";
$baseFontFamily :'Open Sans', sans-serif;

$baseColor: #FFFFFF;
$subColor: #DDDDDD;
$keyColor: #ACACAC;
$fontColor: #9A9A9A;

html{ font-size: 62.5%; }

$large: "(min-width:769px) and (max-width:1024px)";
$small: "(max-width:768px)";

body{
    color :$fontColor;
    font-size: 1.4rem;
    font-family: $baseFontFamily;
    line-height: 1.6;
    letter-spacing: 0.1em;
    background-color: $baseColor;
    padding: 0;
}


#header {
    background-image: url("./images/header.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 100%;
}

@media screen and (min-width:1025px) {
    height: 500px;
}

@media #{$large} {
    #header {
        
        height:500px;
    }
}

@media #{$small} {
    #header {
         height:250px;
    }
}

// section text-box //

#text h2, h3 {
    font {
        
    weight:bold;
    size:2.0rem;
    }
    text-align:center;
}

#text h2 {
    color: $fontColor;
    margin: 30px;

}

#text h3 {
    background-color:$subColor;
    color: $keyColor;
    padding:20px;
}


.container {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex:1;
    flex-direction: row;
    justify-content: space-between;

@media screen and #{$small} {
    flex-direction: column;
    max-width:100%;

}

@media screen and #{$large} {
    width: 100%;
}

@media screen and (min-width:1025px) {
    margin: 0 10px;
}
}

.text-box p {
    color:$baseColor;
    font {
    size:2.0rem;
    weight:bold;
    }
    text-align: center;
    margin:30px;
    }

.text-box {
    
    margin: 10px;
    padding: 0;
    width: 30%;
    background-color:$fontColor ;
    
    @media screen and #{$small} {
        margin: 30px 30px;
        width: 85%;
    }

.container {
    overflow: hidden;
    *zoom: 1; 
}
}

#button {
    background-color:$baseColor;
    text-align: center;

 p {
     color:$fontColor;
     font-size:1.5rem;
     font-weight: bold;
 }
}
.button-box {
  color: #FFFFFF;
  background-color: #9A9A9A;  
  @include border-radius(5px, 5px);
  padding: 10px 30px 10px 30px;  
  display: inline-block;
  @include box-sizing(border-box);
  vertical-align: central;
  width: 200px;
}
